<div class="row page-one">
  <div class="col-md-12 col-sm-12">
    <ba-card [cardTitle]="title" [selectType]="select">
      <ba-card-config></ba-card-config>
      <div class="row">
        <div class="col-sm-3">
          <h2>Hell0,HuaZai</h2>
          <small>您有32条消息和6个待处理事项</small>
          <ul class="list-group clear-list">
            <li class="list-group-item fist-item">
              <span class="pull-right">09:00</span>
              <span class="label label-success">1</span> 请联系我
            </li>
            <li class="list-group-item">
              <span class="pull-right">10:16</span>
              <span class="label label-info">2</span> 签订合同
            </li>
            <li class="list-group-item">
              <span class="pull-right">08:22</span>
              <span class="label label-primary">3</span> 新分店开张
            </li>
            <li class="list-group-item">
              <span class="pull-right">11:06</span>
              <span class="label label-default">4</span> 打电话给璟雯
            </li>
            <li class="list-group-item">
              <span class="pull-right">12:00</span>
              <span class="label label-primary">5</span> 发邮件给国民岳父
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <div class="flot-chart dashboard-chart">
            <ba-flot [options]="options" [dataset]="dataset"></ba-flot>
          </div>
          <div class="row text-left">
            <div class="col-sm-4">
              <div class="m-l-md">
                <span class="h4 font-bold m-t block">&yen; 406,100</span>
                <small class="text-color m-b block">销售营销报告</small>
              </div>
            </div>
            <div class="col-sm-4">
              <span class="h4 font-bold m-t block">&yen; 150,401</span>
              <small class="text-color m-b block">年销售收入</small>
            </div>
            <div class="col-sm-4">
              <span class="h4 font-bold m-t block">&yen; 16,822</span>
              <small class="text-color m-b block">半年收入利润率</small>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="statistic-box">
            <h4>项目的进度</h4>
            <p>您还有两项未完成的任务</p>
            <div class="row text-center">
              <div class="col-lg-6" *ngFor="let chart of charts">
                <ba-pie-chart [color]="chart.color" [percent]="chart.percent"></ba-pie-chart>
                <h5>{{chart.name}}</h5>
              </div>
            </div>
            <div class="m-t">
              <small>请尽快完成相关项目的开发、测试工作</small>
            </div>
          </div>
        </div>
      </div>
    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 ui-sortable">

    <ba-card [cardTitle]="title1" [selectType]="select">
      <ba-card-config></ba-card-config>
      <div class="ibox-content">
        <div>
          <div class="pull-right text-right">
            <ba-peity [stylePeity]="pieStyles.bar" [options]="configObj.barConfig">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</ba-peity>
            <br/>
            <small class="font-bold">&yen; 20 054.43</small>
          </div>
          <h4>广东省销售数据
            <br/>
            <small class="m-r"><a>查看所有数据</a></small>
          </h4>
        </div>
      </div>
    </ba-card>

    <ba-card cardTitle="最新动态" [selectType]="select" baBodyClass="no-padding">
      <ba-card-config></ba-card-config>
      <div class="ibox-content">
        <ul class="list-group">
          <li class="list-group-item">
            <p><a class="text-info" href>#感谢有你#</a> 感谢你们一路的相伴，未来也请让我为你们撑腰，我们会更好</p>
            <small class="block text-muted"><i class="fa fa-clock-o"></i> 1分钟前</small>
          </li>
          <li class="list-group-item">
            <p><a class="text-info" href>@颜文字君</a> 女生身高×1.09后，就是最适合你的男生身高；相反，男生是÷1.09就可以了..小伙伴们可以试着算下..【图是我的..(*/ω＼*)</p>
            <div class="text-center m">
            </div>
            <small class="block text-muted"><i class="fa fa-clock-o"></i> 2小时前</small>
          </li>

          <li class="list-group-item">
            <p><a class="text-info" href>#发型师#</a> 刚才剪发，顾客在看这个视频，妈蛋，这舞姿太销魂了，笑得手颤抖。。。</p>
            <small class="block text-muted"><i class="fa fa-clock-o"></i> 1分钟前</small>
          </li>
          <li class="list-group-item">
            <p><a class="text-info" href>#一年级#</a> ——#陈氏父子# cut：“他是我的陈爸爸”[心]“我叫陈思成，陈老师的陈” [心]“不再见就是，你也好，爸爸也好，妈妈也好，都永远不要说再见</p>
            <small class="block text-muted"><i class="fa fa-clock-o"></i> 2分钟前</small>
          </li>
        </ul>
      </div>
    </ba-card>
  </div>

  <div class="col-lg-4 ui-sortable">
    <ba-card cardTitle="最新消息" selectType="ibox-tools" baBodyClass="padding-size" title="10条消息">
      <page-news></page-news>
    </ba-card>
  </div>

  <div class="col-lg-4 ui-sortable">
    <ba-card cardTitle="项目进度" selectType="ba-card-config" baBodyClass="no-padding">
      <ba-card-config></ba-card-config>
      <page-project></page-project>
    </ba-card>
  </div>
</div>
