@import "../../../../theme/scss/conf/conf";

.label-primary,
.badge-primary {
  background-color: #1ab394;
  color: #FFFFFF;
}
.label-success,
.badge-success {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.label-warning,
.badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}
.label-danger,
.badge-danger {
  background-color: #ed5565;
  color: #FFFFFF;
}
.label-info,
.badge-info {
  background-color: #23c6c8;
  color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}
.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}
.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}

.list-group{
  margin-top: 15px;

  .list-group-item {
    background-color: inherit;
    display: block;
    margin-bottom: -1px;
    padding: 10px 0;
    position: relative;
    border: 0;
    border-bottom: 1px solid #e7eaec;

    .label{
      display: inline;
      padding: .2em .6em .3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25em;
    }
    &:last-child{
      border-bottom: 0;
    }
  }
}

.page-one{
  h2{
    font-weight: 100;
  }

  .text-left{
    padding-left: 30px;
    .text-color{
      color: #c3c6c7;
    }
    span{
      display: block;
      padding-top: 12px;
      font-size: 1.3rem;
    }
  }

  .statistic-box{
    .h4{
      font-size: 16px;
    }
    .col-lg-6{

      h5{
        font-weight: normal;
        font-size: 12px;
        padding-top: 5px;
      }
    }
  }
}
.ui-sortable{
  .ibox-content{
    h4{font-size: 16px;
      .m-r{
        text-decoration: none;
        color: #00abff;
      }
    }

    .list-group{
      margin-top: 3px;
      li.list-group-item{
        padding: 10px 15px;
        border-bottom: 1px solid #e5e5e5;

        & > p{
          margin-bottom: 4px;

        }
        &:last-child{
          border-bottom: 0;
        }
      }
    }

    .feed-activity-list{
      margin-bottom: 15px;

      .feed-element{
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;

        .media-body{
          margin-left: 50px;
          .text-muted{
            display: inline-block;
            padding-top: 6px;
          }
        }
        .img-circle{
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}

