@import "../../../../../theme/scss/conf/conf";

.stat-list{
  li {
    padding: 8px 0;

    & > h2{
      font-weight: 300;
      font-size: 24px;
      margin: 0;
      padding:0;
    }

    & > div{
      .text-navy{
        color: #1ab394;
      }
    }

    .progress{
      margin: 8px 0;
      .progress-bar{
        height: 5px;
        background-color: #1ab394;
      }
    }

  }
}
