.ibox-heading{
  padding: 20px;
  background-color: #f3f6fb;
  border-bottom: none;
  h3{
    font-size: 24px;
    font-weight: 200;
    color: #151313;
  }
  small{
    color: #151313;
    font-size: 80%;
  }
}

.timeline{
  padding: 20px 0;
  margin-left: -20px;

  .text-navy{
    color: #1ab394
  }
}
