@import "../../../theme/scss/conf/conf";

.ibox-bg{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
a{

  text-decoration: none;
}

.mail-box-header{
  padding: 30px 20px;
  border-bottom: 1px solid #545454;

  h2{
    font-weight: 100;
    font-size: 24px;
  }
  .tooltip-demo{

    a{
      color: $default;
      text-decoration: none;
      &:first-child{
        background-color: $green;
      }
    }
  }
}

.mail-box{
  padding: 30px 20px;
}
