<div class="row">
  <div class="col-md-6">
    <table class="table ibox-table">
      <thead>
      <tr>
        <th style="width: 1%" class="text-center">序号</th>
        <th>交易</th>
        <th class="text-center">日期</th>
        <th class="text-center">销售额</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">1</td>
        <td>防盗门

        </td>
        <td class="text-center small">2014.9.15</td>
        <td class="text-center"><span class="label label-primary">¥483.00</span>
        </td>

      </tr>
      <tr>
        <td class="text-center">2</td>
        <td>衣柜
        </td>
        <td class="text-center small">2014.9.15</td>
        <td class="text-center"><span class="label label-primary">¥327.00</span>
        </td>

      </tr>
      <tr>
        <td class="text-center">3</td>
        <td>防盗门
        </td>
        <td class="text-center small">2014.9.15</td>
        <td class="text-center"><span class="label label-warning">¥125.00</span>
        </td>

      </tr>
      <tr>
        <td class="text-center">4</td>
        <td>橱柜</td>
        <td class="text-center small">2014.9.15</td>
        <td class="text-center"><span class="label label-primary">¥344.00</span>
        </td>
      </tr>
      <tr>
        <td class="text-center">5</td>
        <td>手机</td>
        <td class="text-center small">2014.9.15</td>
        <td class="text-center"><span class="label label-primary">¥235.00</span>
        </td>
      </tr>
      <tr>
        <td class="text-center">6</td>
        <td>显示器</td>
        <td class="text-center small">2014.9.15</td>
        <td class="text-center"><span class="label label-primary">¥100.00</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <!--<ba-vector-charts [options]="vectorMap"></ba-vector-charts>-->
  </div>
</div>
